.projects {
  padding: 64px 16px 88px;
  &__header {
    color: $textdark;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
  }
  &__description {
    padding: 0;
    margin: 0;
    font-weight: 300;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
  }
}

.project {
  background: $console;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  overflow: hidden;
  font-family: roboto mono;
  font-size: 13px;
  line-height: 24px;
  color: $consolegraylighter;
  &__window {
    height: 40px;
    background: $consoledark;
    display: flex;
    align-items: center;
    padding: 0 0 0 16px;
  }
  &__content {
    padding: 24px 16px;
    &--git {
      color: rgb(214, 214, 214);
      filter: invert(0%) sepia(100%) saturate(100%) hue-rotate(90deg)
        brightness(180%) contrast(100%);



    }
  }
  &__grid {
    display: grid;
    grid-template-columns: 102px 1fr;
    column-gap: 8px;
  }
  &__label {
    display: block;
    text-align: right;
    color: $consolegraylight;
    font-style: normal;
  }
  &__title {
    font-style: bold;
    font-size: 13px;
    line-height: 24px;
    color: #fff;
  }
  &__link {
    color: $consolelink;
  }
  &__circle {
    display: block;
    background: $consolegray;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 8px;
  }
}

.projects-grid {
  display:grid;
  column-gap:24px;
  row-gap:24px;
  @media(min-width:$tablet)
  {
    grid-template-columns: 1fr 1fr;
  };
}