$textdark:#234361;
$textblue:#1070CA;
$text:#425A70;
$linkblue:#4DA8FF;
$lightblue:#DBEAF7;
$green:#06C847;
$console:#212528;
$consoledark:#1E1E1E;
$consolegray:#464A4D;
$consolegraylight:#808082;
$consolegraylighter:#A3A3A3;
$consolelink:#14B5D0;
$consolewhite:#FFFFFF;
$tablet:768px;
$desktop:960px;